.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* 원하는 배경 색상 */
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    margin-top: auto; /* 푸터를 페이지 맨 아래에 고정 */
    height: 60px; /* Footer의 고정 높이 설정 */
  }
  
  .footer p {
    margin: 0;
  }