/* main 태그에만 적용되는 스타일 */
.home-main {
  background-color: #f4f4f4; /* 배경 색상 */
  padding: 20px;
  text-align: center;
  /* Header와 Footer를 제외한 나머지 영역을 차지하도록 min-height 수정 */
  min-height: calc(100vh - 140px); /* Header와 Footer의 높이를 제외 */
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 20px;
}